<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   
    <ion-title>Mi Votación</ion-title>
  </ion-toolbar>
 
</ion-header>
 
<ion-content padding>
    <ion-card mode="ios">
      <div *ngFor="let candidato of candidatos; index as i" >
          <div *ngIf="candidato.idEvento == identity">

<!--      
        <ion-card-header>
          <ion-card-title text-center><b>{{candidato.nombreEvento}}</b></ion-card-title>
          <ion-card-subtitle><b>{{candidato.puestoCandidato}}</b></ion-card-subtitle>
        </ion-card-header> -->
      
        <ion-card-content >
            <ion-card-header>
                <ion-grid align-items-center>
                  <ion-title text-center><b>{{candidato.nombreEvento}}</b></ion-title>
                  <ion-title text-center><b>{{candidato.puestoCandidato}}</b></ion-title>
                  
                  
                   <!-- <ion-row>
                        <ion-col >
                            <ion-item>
                                <ion-avatar slot="start">
                                    <ion-label>LISTA</ion-label>
                                  {{candidato.numeroPartidoPolitico}}
                                </ion-avatar>
                           </ion-item>
                        </ion-col>
                    </ion-row> -->
                  
                        <ion-button class="round" (click)="voto(candidato)" > 
                          <ion-row>
                            <br>
                            <ion-label><b>LISTA</b></ion-label>
                              <br>
                            <ion-label>{{candidato.numeroPartidoPolitico}}</ion-label>
                             <br>
                             <br>
                            <ion-label><b>Candidato:</b></ion-label>
                            <br>
                            <ion-label> {{candidato.nombres}}</ion-label>
                        <br>
                              <ion-label><b>Partido Politico:</b></ion-label>
                            <br>
                            <ion-label>{{candidato.partidoPolitico}}</ion-label>
                          </ion-row>
                      </ion-button>
                       
                   
               
                    </ion-grid>
              </ion-card-header>
        </ion-card-content>
      </div>
      </div>
      </ion-card>
</ion-content>

<ion-footer translucent="true" no-border>
    <ion-toolbar>
      <ion-title>Desarrollado por CacicusTech S.A </ion-title>
    </ion-toolbar>
  </ion-footer>